*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;

}

.main {
    width:100%;
    background: linear-gradient(to bottom,rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url(flower_image.jpg);
    background-position: bottom;
    background-size: 100% 100%;
    height:109vh;
}

.navbar{
    width:1200px;
    height:75px;
    margin:auto;
}

.menu{
    width:500px;
    float:left;
    height:70px;
}

ul{
    float:left;
    display:flex;
    justify-content:center;
    align-items:center;
}

ul li{
    list-style:none;
    margin-left:62px;
    margin-top: 27px;
    font-size: 14px;
}

ul li a{
    text-decoration: none;
    color:#fff;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover{
    color:rgb(197, 123, 237);
}

.serviceContainer {
    width: 60%;
    height: 100vh;
    padding-left: 50%;
    padding-top: 10px;
    color: rgb(255, 255, 255);
}

.serviceContainer h1 {

    padding-left: 32vh;
    padding-top: 10%;
    margin-bottom: 50px;
    font-weight: 800;
    position: relative;
}

.row {
    display: flex;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
}

.services {
    text-align: center;
    padding: 25px;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
    background: transparent;
    transition: transform 1s, background 1s;

}

.services i {
    font-size: 40px;
    margin-bottom: 10px;
    color: #f9f7f7b1;
}

.services h2 {
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    margin-bottom: 8px;
}

.services:hover {
    background: #2d2d5eaa;
    color: #fff;
    transform: scale(1.05);

}

.services:hover i {
    color: rgba(55, 32, 91, 0.67);
}